body{
    height: 100vh;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    flex-basis: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.footer{
    background-color: beige;
    display: flex;
    flex-basis: 100px;
}
.content{
    display: flex;
}
.logo{
    height: 100px;
    width: auto;
    border-radius: 50%;
    background-color: #1f2937;
}
.social{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.name{
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    color: whitesmoke;
}

.right-elements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}